<p>Something missing? Questions, comments, or corrections? Email chuck -at- weathermuffin.com</p>

<p class="text-small text-grey-dk-100 mb-0">
  Disclaimers: While I have strived to include only products which
  I have used or would use with my own CKD kitty, appearance here
  should not be construed as endorsement. Every kitty and every
  kitty's situation is unique. This web site's operator is not
  responsible for your cat's well-being; you alone are. Do not
  start, stop, or adjust any medications or supplements without
  consulting with your veterinarian.
</p>

<p class="text-small text-grey-dk-100 mb-0">&copy; 2024-2025 Weathermuffin, LLC</p>
