<p>Something missing? Questions, comments, or corrections? Email chuck -at- weathermuffin.com</p>

<p class="text-small text-grey-dk-100 mb-0">
  Disclaimers: While I have strived to include only products which
  I have used or would use with my own CKD kitty, appearance here
  should not be construed as endorsement. Every kitty and every
  kitty's situation is unique. This web site's operator is not
  responsible for your cat's well-being; you alone are. Do not
  start, stop, or adjust any medications or supplements without
  consulting with your veterinarian.
</p>

<p class="text-small text-grey-dk-100 mb-0">
  Links on this page may earn the site a modest commission. This
  does not affect the price you pay, but allows me to keep the
  site going and up-to-date with the best and latest items for
  you and your CKD kitty.
</p>

<p class="text-small text-grey-dk-100 mb-0">&copy; 2024 Weathermuffin, LLC</p>
